.smallCompanyCard{
    position: relative;
    width: 100%;
    margin: var(--small-spacing) 0;

    background: var(--secondary-color);
    border-radius: var(--border-radius);
    min-height: 75px;

    display: flex;
    flex-direction: column;
    padding: 1em;
}

.image{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 75px;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    object-fit: cover;
}

.cardTitle{
    width: 75%;
}
.cardDescription{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
    width: 75%;
}