:root{
  --background-color: #141218;
  --secondary-color: #36343B;
  --accent-color: #D0BCFF;
  --login-button: #4461F2;

  --small-spacing: 1em;

  --input-color: #EAF0F7;
  --input-text-color: #4F555A;

  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Gillroy Light';
  src: url("../../fonts/Gilroy/Gilroy-Light.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gillroy Bold';
  src: url("../../fonts/Gilroy/Gilroy-ExtraBold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  background: var(--background-color);
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
  font-family: "Gilroy Light", serif;
}

#__next{
  height: 100%;
}
