.filterItem{
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    padding: var(--small-spacing);
    position: relative;

    transition: background-color 0.2s ease;
}

.active{
    background-color: var(--accent-color);
    color: black;
}