.loginContainer {
    padding: 0 var(--small-spacing);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 277px;
    height: 155px;
    margin: var(--small-spacing) auto;

    font-size: 89px;
    line-height: 77px;

    text-align: center;
    letter-spacing: 0.09em;

    color: #FFFFFF;
}

.socialLoginContainer {
    display: flex;
    justify-content: space-between;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin: var(--small-spacing) 0;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #fff;
}

.separator:not(:empty)::before {
    margin-right: .5em;
}

.separator:not(:empty)::after {
    margin-left: .5em;
}