.container {
    padding: var(--small-spacing);
    background: var(--secondary-color);
    border-radius: var(--border-radius);
}

.container h2 {
    font-size: 20px;
    margin-bottom: var(--small-spacing);
}